In [17]:
# Import the pandas library and alias it as pd
import pandas as pd

# Set the file path to the CSV file containing unemployment rate data
file_path = r"C:\Users\moham\Downloads\df_sex_unemployment_rates.csv"

# Read the CSV file into a Pandas dataframe named 'nojob'
nojob = pd.read_csv(file_path)

# Display information about nojob, including data types and non-null counts
nojob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 910 entries, 0 to 909
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               910 non-null    object
 1   overall_rate       910 non-null    float64
 2   men_rate           910 non-null    float64
 3   women_rate         910 non-null    float64
 4   men_16_17_rate     910 non-null    float64
 5   women_16_17_rate   910 non-null    float64
 6   men_16_19_rate     910 non-null    float64
 7   women_16_19_rate   910 non-null    float64
 8   men_18_19_rate     910 non-null    float64
 9   women_18_19_rate   910 non-null    float64
 10  men_16_24_rate     910 non-null    float64
 11  women_16_24_rate   910 non-null    float64
 12  men_20_24_rate     910 non-null    float64
 13  women_20_24_rate   910 non-null    float64
 14  men_25plus_rate    910 non-null    float64
 15  women_25plus_rate  910 non-null    float64
 16  men_25_34_rate     910 non-null    float64
 17  women_25_34_rate   910 non-null    float64
 18  men_25_54_rate     910 non-null    float64
 19  women_25_54_rate   910 non-null    float64
 20  men_35_44_rate     910 non-null    float64
 21  women_35_44_rate   910 non-null    float64
 22  men_45_54_rate     910 non-null    float64
 23  women_45_54_rate   910 non-null    float64
 24  men_55plus_rate    910 non-null    float64
 25  women_55plus_rate  358 non-null    float64
dtypes: float64(25), object(1)
memory usage: 185.0+ KB

In [3]:
# Calculate and print the number of null values in each column
null_values = nojob.isnull().sum()
print("Null values in each column")
print(null_values)

Null values in each column
date                   0
overall_rate           0
men_rate               0
women_rate             0
men_16_17_rate         0
women_16_17_rate       0
men_16_19_rate         0
women_16_19_rate       0
men_18_19_rate         0
women_18_19_rate       0
men_16_24_rate         0
women_16_24_rate       0
men_20_24_rate         0
women_20_24_rate       0
men_25plus_rate        0
women_25plus_rate      0
men_25_34_rate         0
women_25_34_rate       0
men_25_54_rate         0
women_25_54_rate       0
men_35_44_rate         0
women_35_44_rate       0
men_45_54_rate         0
women_45_54_rate       0
men_55plus_rate        0
women_55plus_rate    552
dtype: int64

In [4]:
# Identify and print rows with null values, specifically showing the date and columns with null values
null_rows = nojob.loc[nojob.isnull().any(axis=1)]
print("Dates with null values")
print(null_rows[['date'] + list(null_rows.columns[null_rows.isnull().any()])])

Dates with null values
           date  women_55plus_rate
0    1948-01-01                NaN
1    1948-02-01                NaN
2    1948-03-01                NaN
3    1948-04-01                NaN
4    1948-05-01                NaN
..          ...                ...
547  1993-08-01                NaN
548  1993-09-01                NaN
549  1993-10-01                NaN
550  1993-11-01                NaN
551  1993-12-01                NaN

[552 rows x 2 columns]

In [22]:
# Select relevant columns to keep from nojob
cols_to_keep = ['date', 'men_20_24_rate', 'women_20_24_rate', 'men_25plus_rate', 'women_25plus_rate',
                'men_25_34_rate', 'women_25_34_rate', 'men_35_44_rate', 'women_35_44_rate',
                'men_45_54_rate', 'women_45_54_rate', 'men_55plus_rate', 'women_55plus_rate']
nojob = nojob[cols_to_keep]


# Calculate and add new columns representing aggregated rates for different gender and age groups
nojob['20_plus_overall_rate'] = nojob[['men_20_24_rate', 'women_20_24_rate', 'men_25plus_rate', 'women_25plus_rate',
                                        'men_25_34_rate', 'women_25_34_rate', 'men_35_44_rate', 'women_35_44_rate',
                                        'men_45_54_rate', 'women_45_54_rate', 'men_55plus_rate', 'women_55plus_rate']].mean(axis=1, skipna=True)

nojob['20_plus_men_rate'] = nojob[['men_20_24_rate', 'men_25plus_rate', 'men_25_34_rate', 'men_35_44_rate',
                                    'men_45_54_rate', 'men_55plus_rate']].mean(axis=1, skipna=True)

nojob['20_plus_women_rate'] = nojob[['women_20_24_rate', 'women_25plus_rate', 'women_25_34_rate',
                                      'women_35_44_rate', 'women_45_54_rate', 'women_55plus_rate']].mean(axis=1, skipna=True)


# Reshape nojob using the melt function to better accommodate Tableau Public for visualization
melted_df = pd.melt(nojob, id_vars=['date'], value_vars=['men_20_24_rate', 'women_20_24_rate',
                                                        'men_25_34_rate', 'women_25_34_rate',
                                                        'men_35_44_rate', 'women_35_44_rate',
                                                        'men_45_54_rate', 'women_45_54_rate',
                                                        'men_55plus_rate', 'women_55plus_rate'],
                   var_name='variable', value_name='value')

# Extract gender and age range information from the variable column and create new columns
melted_df['Gender'] = melted_df['variable'].apply(lambda x: 'Women' if 'women' in x.lower() else 'Men')
melted_df['AgeRange'] = melted_df['variable'].apply(lambda x: f"{x.split('_')[1]}-{x.split('_')[2]}")

In [19]:
# Display melted nojob information
print("Melted nojob Information:")
print(melted_df.info())

Melted nojob Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9100 entries, 0 to 9099
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      9100 non-null   object
 1   variable  9100 non-null   object
 2   value     8548 non-null   float64
 3   Gender    9100 non-null   object
 4   AgeRange  9100 non-null   object
dtypes: float64(1), object(4)
memory usage: 355.6+ KB
None

In [20]:
# Display the first 20 rows 
print("First 20 rows of melted nojob:")
print(melted_df.head(20))

First 20 rows of melted nojob:
          date        variable  value Gender AgeRange
0   1948-01-01  men_20_24_rate    7.2    Men    20-24
1   1948-02-01  men_20_24_rate    7.4    Men    20-24
2   1948-03-01  men_20_24_rate    9.0    Men    20-24
3   1948-04-01  men_20_24_rate    7.9    Men    20-24
4   1948-05-01  men_20_24_rate    7.6    Men    20-24
5   1948-06-01  men_20_24_rate    6.9    Men    20-24
6   1948-07-01  men_20_24_rate    6.0    Men    20-24
7   1948-08-01  men_20_24_rate    6.2    Men    20-24
8   1948-09-01  men_20_24_rate    6.3    Men    20-24
9   1948-10-01  men_20_24_rate    5.6    Men    20-24
10  1948-11-01  men_20_24_rate    5.7    Men    20-24
11  1948-12-01  men_20_24_rate    6.9    Men    20-24
12  1949-01-01  men_20_24_rate    7.7    Men    20-24
13  1949-02-01  men_20_24_rate    8.5    Men    20-24
14  1949-03-01  men_20_24_rate    9.3    Men    20-24
15  1949-04-01  men_20_24_rate    9.1    Men    20-24
16  1949-05-01  men_20_24_rate   11.1    Men    20-24
17  1949-06-01  men_20_24_rate   11.0    Men    20-24
18  1949-07-01  men_20_24_rate   12.5    Men    20-24
19  1949-08-01  men_20_24_rate   12.1    Men    20-24

In [21]:
# Save the melted nojob to a new CSV file
melted_df.to_csv('formatted_unemployment_data.csv', index=False)